<!DOCTYPE html>
<html lang="hu" ng-app="forumApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="Assets/css/ng-notify.min.css">
    <link rel="stylesheet" href="Assets/css/bootstrap.css">
    <link rel="stylesheet" href="Assets/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid position-relative">
            <div>
                <a href="#!/main"><img class="nav_img navbar-brand" href="#" src="icons/crowd-of-users.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#">Kedvencek</a>
                    <a class="nav-link" href="#">Összes</a>
                </div>
            </div>
            <div class="position-absolute top-0 end-0 mt-2 d-flex">
                <a class="nav-link" href="#!/mail"><img class="nav_img png-mid m-1" src="icons/email.png"></a>
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#Reg_modal"><img class="nav_img png-mid m-1" src="icons/profile-user.png"></a>
            </div>
        </div>
    </nav>
      
    <!-- Reg Modal Form -->
    <div class="modal fade" id="Reg_modal" tabindex="-1" ng-controller="regUserCtrl" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Regisztráció</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="username" class="form-label">Felhasználónév</label>
                            <input type="text" class="form-control" ng-model="user.username">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email-cím</label>
                            <input type="email" class="form-control" ng-model="user.email">
                            <!--
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            -->
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Jelszó</label>
                            <input type="password" class="form-control" ng-model="user.password">
                        </div>
                        <div class="mb-3">
                            <label for="confirm" class="form-label">Jelszó megerősítése</label>
                            <input type="password" class="form-control" ng-model="user.confirm">
                        </div>
                        <div class="mb-3 d-flex justify-content-around">
                            <button type="submit" class="btn" ng-click="registration()">Regisztráció</button>
                            <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#Login_modal">Már van fiókom</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
      
    <!-- Login Modal Form -->
    <div class="modal fade" id="Login_modal" tabindex="-1" ng-controller="loginUserCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Bejelentkezés</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email-cím</label>
                            <input type="email" class="form-control" ng-model="user.email">
                            <!--
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            -->
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Jelszó</label>
                            <input type="password" class="form-control" ng-model="user.password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Maradjak bejelntkezve</label>
                        </div>
                        <div class="mb-3 d-flex justify-content-around">
                            <button type="submit" class="btn" ng-click="login()">Bejelentkezés</button>
                            <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#Reg_modal">Még nincs fiókom</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <main ng-view>  
      
    </main>
  
    <footer class="footer">
        <div class="container-fluid m-2">
            <div id="footer_elements" class="d-flex flex-row justify-content-around flex-wrap">
                <a href="#!/szabalyzat" class="footer_a_btn"><button type="button" class="btn mb-1 large-btn btn-space footer_btn">Szabályzat</button></a>
                <a href="#!/gyak" class="footer_a_btn"><button type="button" class="btn mb-1 large-btn btn-space footer_btn">GYAK</button></a>
                <a href="#!/legutobbi" class="footer_a_btn"><button type="button" class="btn mb-1 large-btn btn-space footer_btn">Legutóbbi frissítés</button></a>
                <a href="#!/rolunk" class="footer_a_btn"><button type="button" class="btn mb-1 large-btn btn-space footer_btn">Rólunk</button></a>
            </div>
        </div>
    </footer>

    <script src="Assets/js/bootstrap.min.js"></script>
    <script src="Assets/js/angular.min.js"></script>
    <script src="Assets/js/angular-route.min.js"></script>
    <script src="Assets/js/sha1.js"></script>
    <script src="Assets/js/ng-notify.min.js"></script>
    <script src="Assets/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="Assets/js/axios.min.js"></script>
    <script src="Assets/js/app.js"></script>
</body>
</html>