<div class="posts">
    <div class="contents" ng-repeat="item in posts">
        <div class="soros">
            <h5><img class="kiskep" src="icons/profile-user.png">{{item.user_name}}</h5>
            <img class="kiskep" src="icons/more.png">
        </div>
        <hr>
        <h2>{{item.title}}</h2>
        <p>{{item.text}}</p>
        <hr>
        <div class="react">
            <p><img src="icons/like.png"> - <img src="icons/dislike.png"> - <a ng-click="teszt(item.ID)"><img class="comment-icon" src="icons/comment.png"></a> - </p>
            <p class="datum"><strong>{{item.created_at.split('T')[0]}}</strong></p>
        </div>
    </div>
</div>