<!DOCTYPE html>
<html lang="hu" ng-app="forumApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="../Assets/css/bootstrap.css">
    <link rel="stylesheet" href="../Assets/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid position-relative">
            <div>
                <img class="nav_img navbar-brand" href="#" src="../icons/crowd-of-users.png" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#">Kedvencek</a>
                    <a class="nav-link" href="#">Összes</a>
                </div>
            </div>
            <div class="position-absolute top-0 end-0 mt-2">
                <img class="nav_img png-mid m-1" src="../icons/email.png" alt="">
                <img class="nav_img png-mid m-1" src="../icons/profile-user.png" alt="">
            </div>
        </div>
    </nav>

    <main ng-wiev> <!-- Tartalom -->
        <h1>Gyakori kérdések</h1>

        <div id="rolunkkartyak" class="container-fluid">
        <div class="rolunkcard">
            
            <div class="adatok">
                <h2>Funkciók az oldalon belül</h2>
                <hr>
                <h4>Mit jelent az oldal tetején az “Összes” fül? </h4>
                <p>Az összes létező főfórumot megmutatja. Ezen az oldalon lehet fórumokat kedvencnek 	bejelölni, és egy fórumlapra rákattintva megnézni a fórum tartalmát (üzenetek, a fórum alfórumai). </p>
                <h4>Mit jelent az oldal tetején a “Kedvencek” fül? </h4>
                <p>A felhasználó által becsillagozott (kedvencnek jelölt) fórumokat és alfórumokat mutatja csak a felhasználónak. Ezzel a gyakran látogatott oldalakat könnyebben el tudja érni. </p>
                <h4>Mire szolgál az a kis felhasználó ikon? </h4>
                <p>Arra rákattintva fogod tudni elérni a bejelentkezést, valamint a regisztrálás opciókat. 
                    Ha be vagy jelentkezve, akkor itt tudsz kijelentkezni, és a profil oldalt megnyitni. 
                    Amennyiben van profilképed, az alap kép helyett az fog megjelenni, ellentétes esetben pedig egy alapméretezett profilkép lesz. </p>
                <h4>Mire szolgál a postaláda? </h4>
                <p>A postaláda oldal felel azért, hogy a felhasználó megkapja az őt érintő rendszerüzeneteket. Ebbe beletartozik az oldal frissítésekor egy üzenet (ami a “legutóbbi frissítések oldalra terel”); ha egy üzenetét moderálják vagy eltörlik, a felhasználó arról is kap üzenetet; Ha küldött egy kérvényt, a választ itt kapja meg; Amennyiben a felhasználó szabályzatot sértett, itt kaphat rálátást a büntetésére. 

                    Ezen az oldalon lehet kérvényeket küldeni a moderátorok/adminoknak, amennyiben új alfórumot szeretnél készíteni, vagy van egy komolyabb panaszod / kritikád / ötleted, mit kívánsz megosztani a készítőkkel. </p> 
            </div>
        </div>

        
        <div class="rolunkcard">
            
            <div class="adatok">
                <h2>Jogok és jogkörökről szóló kérdések </h2>
                <hr>
                <h4>Hogyan lehetek helytartó? </h4>
                <p>Egy kérvényben lehet érdeklődni a moderátoroktól, melyet megvizsgálnak és (ha van 	szerencséd) eldöntik, hogy méltó vagy-e. Miután elfogadják a kérvényt, létre jön az alfórum és elkezdheted saját kedvedre szerkeszteni és moderálni. </p>
                <h4>Lehetek-e több helyen is helytartó? </h4>
                <p>Egy ember több alfórumot is alkothat, amennyiben azokat képes hordában tartani (kellőképen moderálni).  </p>
                <h4>Egy alfórumnak lehet-e több helytartója? </h4>
                <p>Alfórumonként csakis egy helytartó van jelen. Amennyiben az alfóruma nagyobbá nővi ki magát, segítenek a moderálásban a moderátorok.</p>
                <h4>Hogyan lehetek moderátor? </h4>
                <p>Amennyiben a munkásságod kiemelkedő helytartóként, és a jelenlegi moderátorok igényt tartanak a felavatásodra, kérvényt küldenek az adminoknak, akik döntést hoznak róla. </p> 
            </div>
        </div>

        <div class="rolunkcard">
            
            <div class="adatok">
                <h2>Kitiltások és azzal kapcsolatos kérdések </h2>
                <hr>
                <h4>Miért kaphatok kitiltást?  </h4>
                <p>Ha egy komolyabb szabályt szegsz meg, ami már nem csak Ejnye-bejnyére méltó. </p>
                <h4> Mennyi ideig tart a kitiltásom? </h4>
                <p>Ideiglenes korlátozás esetében bejelentkezéskor a profil oldalon megtalálható vörös betűkkel írva lesz látható a kitiltásból hátralevő idő. Ha a tiltás végleges, a fiók automatikusan zárolva van, örökre. </p>
                <h4>Lehet-e a végleges tiltást feloldani? </h4>
                <p>Jelenleg még nincs opció erre, de ha lesz változás ezzel kapcsolatban az oldalon, vagy 	elegendő igény, akkor itt lehet tájékozódni.</p>
                <h4>Mennyi időre kaphatok kitiltást?  </h4>
                <p>Jelenleg a kitiltások 3 időre szólnak:  </p> 
                <ul>
                    <li>3 nap</li>
                    <li>1 hét</li>
                    <li>	Végleges tiltás (örökre) </li>
                </ul>
            </div>
        </div>

    </div>
    </main>

    <footer class="footer">
        <div class="container-fluid m-2">
            <div id="footer_elements" class="row d-flex flex-md-row justify-content-around">
                <button type="button" class="btn mb-1 large-btn btn-space footer_btn">Szabályzat</button>
                <button type="button" class="btn mb-1 large-btn btn-space footer_btn">GYAK</button>
                <button type="button" class="btn mb-1 large-btn btn-space footer_btn">Legutóbbi frissítés</button>
                <button type="button" class="btn mb-1 large-btn btn-space footer_btn">Rólunk</button>
            </div>
        </div>
    </footer>

    <script src="../Assets/js/bootstrap.min.js"></script>
    <script src="../Assets/js/angular.min.js"></script>
    <script src="../Assets/js/app.js"></script>
</body>
</html>