<h1>Kategória oldal</h1>
<div class="kategoria-rendezes">
    <div class="content kategoria-interface">
        <div class="soros">
            <div class="soros">
                <img class="kiskep" src="icons/profile-user.png">
                <div class="oszlopos">
                    <h5 style="margin: 0px; font-size:larger; font-weight: bold;">Felhasználó</h5>
                    <h6 class="alcím">Tulajdonos</h6>
                </div>
            </div>
            <img class="kiskep" src="icons/more.png">
        </div>
        
        <hr>
        <div class="hashtag">
            <p>#bizgentyu</p>
            <p>#kallantyu</p>
            <p>#ize</p>
            <p>#hogyishivjak</p>
        </div>
        <hr>
        <h5 id="post-button">Poszt létrehozása</h5>
    </div>
    <div class="kategoriak">
        <div class="content">
            <div class="soros">
                <h5><img class="kiskep" src="icons/profile-user.png">Üzenetküldő</h5>
                <img class="kiskep" src="icons/more.png">
            </div>
            <hr>
            <h2>Poszt cím</h2>
            <p>Poszt leírás</p>
            <hr>
            <div class="react">
                <p><img src="icons/like.png"> - <img src="icons/dislike.png"> - <img src="icons/comment.png"> - </p>
                <p class="datum"><strong>2024.01.05</strong></p>
            </div>
        </div>
        <div class="content">
            <div class="soros">
                <h5><img class="kiskep" src="icons/profile-user.png">Üzenetküldő</h5>
                <img class="kiskep" src="icons/more.png">
            </div>
            <hr>
            <h2>Poszt cím</h2>
            <p>Poszt leírás</p>
            <hr>
            <div class="react">
                <p><img src="icons/like.png"> - <img src="icons/dislike.png"> - <img src="icons/comment.png"> - </p>
                <p class="datum"><strong>2024.01.05</strong></p>
            </div>
        </div>
        <div class="content">
            <div class="soros">
                <h5><img class="kiskep" src="icons/profile-user.png">Üzenetküldő</h5>
                <img class="kiskep" src="icons/more.png">
            </div>
            <hr>
            <h2>Poszt cím</h2>
            <p>Poszt leírás</p>
            <hr>
            <div class="react">
                <p><img src="icons/like.png"> - <img src="icons/dislike.png"> - <img src="icons/comment.png"> - </p>
                <p class="datum"><strong>2024.01.05</strong></p>
            </div>
        </div>
    </div>
    
</div>