<!DOCTYPE html>
<html lang="hu" ng-app="forumApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="../Assets/css/bootstrap.css">
    <link rel="stylesheet" href="../Assets/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid position-relative">
            <div>
                <img class="nav_img navbar-brand" href="#" src="../icons/crowd-of-users.png" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#">Kedvencek</a>
                    <a class="nav-link" href="#">Összes</a>
                </div>
            </div>
            <div class="position-absolute top-0 end-0 mt-2">
                <img class="nav_img png-mid m-1" src="../icons/email.png" alt="">
                <img class="nav_img png-mid m-1" src="../icons/profile-user.png" alt="">
            </div>
        </div>
    </nav>

    <main ng-wiev> <!-- Tartalom -->
        <h1>Legutóbbi frissítések</h1>

        <div id="rolunkkartyak" class="container-fluid">
        <div class="rolunkcard">
            
            <div class="adatok">
                <h2>Változtatások Log</h2>
                <hr>
                <h4>2024.02. 12.</h4>
                <ul>
                <li>A projekt kezdetének dátuma.</li>
                <li>Index.html, angular.js, app.js, style.css létrehozása, ikonok feltöltése (az oldalunk alapjai)</li>
                <li>"Kész" báboldal (nem reszponzív).</li>
                </ul>
                <h4>2024.02. 13.</h4>
                <ul>
                    <li>Rólunk oldal (rolunk.html) létrehozása, elkészítések.</li>
                    <li>Báb oldal navbar és footer igazítások.</li>
                </ul>
                <h4>2024.02. 14.</h4>
                <ul>
                    <li>Footer és navbar igazítások.</li>
                    <li>Főoldal (index.html) létrehozása, elkészítése.</li>
                </ul>
                <h4>2024.02. 19.</h4>
                <ul>
                    <li>Főoldal helyesírási hibák javítása.</li>
                    <li>Báboldal kinézetének véglegesítése.</li>
                    <li>Postaláda oldal (postalada.html) készítésének megkezdése.</li>
                    <li>Regisztráció angulárral való megjelenítése</li>
                </ul>
                <h4>2024.02. 27.</h4>
                <ul>
                    <li>Gyakori kérdések oldal (GYAK.html) létrehozása, elkészítése.</li>
                    <li>Ng-notify és regisztrációs adatok bekérése.</li>
                    <li>Profil oldal további munkálatok (css, html). </li>
                </ul>
                <h4>2024.02. 28.</h4>
                <ul>
                    <li>Profil oldal véglegesítése.</li>
                    <li>Fórum oldal (forum.html) készítésének elkezdése.</li>
                    <li>App.js munkálatok (Login, registration controller)</li>
                </ul>
                
            </div>
        </div>
    </div>
    </main>

    <footer class="footer">
        <div class="container-fluid m-2">
            <div id="footer_elements" class="row d-flex flex-md-row justify-content-around">
                <button type="button" class="btn mb-1 large-btn btn-space footer_btn">Szabályzat</button>
                <button type="button" class="btn mb-1 large-btn btn-space footer_btn">GYAK</button>
                <button type="button" class="btn mb-1 large-btn btn-space footer_btn">Legutóbbi frissítés</button>
                <button type="button" class="btn mb-1 large-btn btn-space footer_btn">Rólunk</button>
            </div>
        </div>
    </footer>

    <script src="../Assets/js/bootstrap.min.js"></script>
    <script src="../Assets/js/angular.min.js"></script>
    <script src="../Assets/js/app.js"></script>
</body>
</html>