<h1>Legutóbbi frissítések</h1>
  <div id="rolunkkartyak" class="container-fluid">
  <div class="rolunkcard">
      <div class="adatok lh-lg">

          <h2 class="mb-3">Változtatások Log</h2>
          <hr>
          <div id="legutobbi">
          </div>
            <h4 class="mb-3 clickable-h4">2024-04-14<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
            <ul id="myList">
                <li>Végső változtatások</li>
                <li>Főoldal ul elemjeinek külön class-al láthatóság megvalósítása</li>
                <li>Rólunk oldal elemjeinek contenttel feltöltése</li>
                <li>Style.css legutolsó oldallal kapcsolatban javítások</li>
            </ul>

            <h4 class="mb-3 clickable-h4">2024-04-07<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
            <ul id="myList">
                <li>Poszt törlése bugfix</li>
                <li>Komment hozzáadása módosítás, törlése</li>
                <li>Komment hozzáadás interfész + rendezés</li>
                <li>Kommentek dinamikus generálása</li>
                <li>Kategóriák reszponzivitása</li>
                <li>Legutóbbi oldal logolásának befejezése</li>
            </ul>


          <h4 class="mb-3 clickable-h4">2024-04-06<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
              <li>Post módosítása, törlése</li>
              <li>Dinamikus szövegmegjelenési módosítások</li>
              <li>Poszt hozzáadása </li>
              <li>Posztok frissítés után is megmaradnak</li>
              <li>Posztok megjelenítése kategóriák szerint</li>
              <li>Forum-renderer (Még hibás)</li>
              <li>Új poszt hozzáadásának formja</li>
              <li>Posztokhoz a felhasználónév hozzáarendelése</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-04-05<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
              <li>Vizuális javítások + Rendereléssel bajlódás</li>
              <li>Kommentek post, patch, get</li>
              <li>Regisztráció bejelentkezés modal elkészítése</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-04-04<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
              <li>Kategóriák renderelése ng-repeat-el</li>
              <li>Dinamikus kategória renderelés</li>
              <li>Kategóriák oldal kinézetének rendbeszedése</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-04-03<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
              <li>Kontrollerek működésre bírása</li>
              <li>Kontrollerek rendezése egy fájlba</li>
              <li>Adatbázis commentek tábla létrehozása</li>
              <li>Eredeti feladat + rendes kijelentkezés megoldva</li>
              <li>Adatbázis javítása, kategória műveletek sikeresek</li>
              <li>Kijelentkezés + postaláda blokk elkezdése</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-04-01<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
              <li>Post, patch category</li>
              <li>Tábla sorának törlése ID alapján (multifunkcionális)</li>
              <li>Post CRUD műveletek kész</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-31<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
            <li>Új post hozzáadása a választott kategóriáoz back-end</li>
            <li>Sercer api * hozzáadás</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-27<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
            <li>Multifunkcionális lekérdezések</li>
            <li>Profil oldal ul elemjeinek megjelenítése</li>
            <li>Controllerbe átírtuk a megnyitós függvényt</li>
            <li>Profil oldal reszponzivitás véglegesítése</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-26<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
            <li>Profil oldal css igazítások</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-25<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
            <li>Legutóbbi frissítések + app.js javítások (nem végleges)</li>
            <li>Kategória és poszt tábla létrehozása, kapcsolatok</li>
            <li>legutobbi.js controller létrehozása</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-24<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
            <li>Bejelentkezett felhasználó esetén profil nyílik meg (bug)</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-20<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
            <li>App.js - tárolás javítása</li>
          </ul>
          
          <h4 class="mb-3 clickable-h4">2024-03-19<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
            <li>Legutobbi frissitesek oldal dinamikussá tétele (nem kész)</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-18<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
            <li>Ha be van jelentkezve a felhasználó a profil jelenjen meg</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-17<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
            <li>Kompatibilitás megoldása</li>
            <li>Postaláda oldal átméretezések</li>
            <li>App.js rootscope javítások</li>
            <li>Mostmár be lehet jelentkezni</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-13<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Login (nem kész)</li>
          </ul>

          
          <h4 class="mb-3 clickable-h4">2024-03-12<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Rólunk oldal javítások</li>
                <li>Main.html cím igazítása style.css-ben</li>
                <li>Beágyazási hiba korigálása</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-11<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Háttérkép javítása</li>
                <li>Design korrigálások és háttér</li>
                <li>Felugró ablak cím javítása</li>
                <li>Regisztráció és Bejelentkezés</li>
                <li>főoldal javítása, formázások</li>
                <li>Bejelentkezés és regisztráció (adatbázissal) nem működik még</li>
                <li>Rólunk oldal + footer javítások</li>
                <li>Legutóbbi frissítések prototípusának befejezése</li>
                <li>App.js route módosítások</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-06<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Új user felvétele (nem működik)</li>
                <li>Legutóbbi oldal további contenttel való feltöltése</li>
                <li>Readme update</li>
                <li>Átrendezések a merge-höz</li>
                <li>Összes oldal hozzáadása</li>
                <li>README hozzáadása</li>
                <li>Szabályzat html végső javítások</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-05<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Fórum oldal folytatása</li>
                <li>Users adatbázisból lekérni az adatokat</li>
                <li>Legutobbi frissitesek oldal további munkálatok</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-03-04<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Fórum oldal folytatása</li>
                <li>Legutóbbi frissítések oldal létrehozása</li>
                <li>Regisztráció, bejelnetkezés backendre vár</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-02-28<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Navbar alsó border javítások</li>
                <li>Login, registration controller</li>
                <li>Fórum oldal elkezdése</li>
                <li>Profil oldal befejezése</li>
                <li>Szabályzat oldal prototipus</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-02-27<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>GYAK oldal létrehozása, elkészítése</li>
                <li>Ng-notify és regisztrációs adatok bekérése</li>
                <li>Profil oldal folytatása</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-02-26<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Regisztráció és login js</li>
                <li>Profil oldal folytatása</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-02-21<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Regisztráció bejelentkezés modal elkészítése</li>
                <li>Profil oldal elkezdése</li>
                <li>Postaláda oldal befejezése</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-02-20<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Postaláda oldal munkálatok</li>
                <li>Regisztráció modal elkezdése</li>
                <li>Rólunk oldal nézet Merge</li>
                <li>Egységesítés, előkészületek a merge-höz</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-02-19<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Regisztráció angulárral való megjelenítése</li>
                <li>Postaláda oldal elkezdése</li>
                <li>Báb oldal kinézete kész</li>
                <li>Helyesírási hibák javítása</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-02-14<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Főoldal elkészítése</li>
                <li>Footer és navbar létrehozás, formázás</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-02-13<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Rólunk képek + rólunk oldal kialakitása</li>
                <li>Rólunk oldal készítése</li>
                <li>Báb oldal navbar és footer igazítások</li>
          </ul>


          <h4 class="mb-3 clickable-h4">2024-02-12<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Báboldal 'kész' (Nem reszponzív)</li>
                <li>Navbár hozzáadása</li>
                <li>Ikonok feltöltése</li>
                <li>Angular.js elkészítése</li>
                <li>Alapok (Index.html, angular.js, app.js, style.css) létrehozása</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024-01-15<img class="dropdown" src="icons/dropdown.png" alt="dropdown"></h4>
          <ul>
                <li>Projekt kezdetének ideje</li>
                <li>Github repo, Jira létrehozása</li>
          </ul>
      </div>
  </div>
</div>