<h1>Legutóbbi frissítések</h1>

  <div id="rolunkkartyak" class="container-fluid">
  <div class="rolunkcard">
      
      <div class="adatok lh-lg">
        
          <h2 class="mb-3">Változtatások Log</h2>
          <hr>
          <div id="legutobbi">
          </div>

            <h4 class="mb-3 clickable-h4">2024.02. 28. <img class="dropdown" src="../icons/dropdown.png" alt="dropdown"></h4>
            <ul id="myList">
                <li>Profil oldal véglegesítése.</li>
                <li>Fórum oldal (forum.html) készítésének elkezdése.</li>
                <li>App.js munkálatok (Login, registration controller)</li>
                <li>Szabályzat oldal prototípusának elkészítése.</li>
                <li>Navbar javítások (border változtatások).</li>
            </ul>
        


          <h4 class="mb-3 clickable-h4">2024.02. 27. <img class="dropdown" src="../icons/dropdown.png" alt="dropdown"></h4>
          <ul>
              <li>Gyakori kérdések oldal (GYAK.html) létrehozása, elkészítése.</li>
              <li>Ng-notify és regisztrációs adatok bekérése.</li>
              <li>Profil oldal további munkálatok (css, html). </li>
              <li>Profil oldal további munkálatok (tartalommal kitöltés, css igazítások)</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024.02. 21. <img class="dropdown" src="../icons/dropdown.png" alt="dropdown"></h4>
          <ul>
              <li>Profil oldal (profil.html) elkezdése.</li>
              <li>Postaláda oldal befejezése</li>
              <li>Regisztráció bejelentkezés modal elkészítése</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024.02. 19. <img class="dropdown" src="../icons/dropdown.png" alt="dropdown"></h4>
          <ul>
              <li>Főoldal helyesírási hibák javítása.</li>
              <li>Báboldal kinézetének véglegesítése.</li>
              <li>Postaláda oldal (postalada.html) készítésének megkezdése.</li>
              <li>Regisztráció angulárral való megjelenítése</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024.02. 14. <img class="dropdown" src="../icons/dropdown.png" alt="dropdown"></h4>
          <ul>
              <li>Footer és navbar igazítások.</li>
              <li>Főoldal (index.html) létrehozása, elkészítése.</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024.02. 13. <img class="dropdown" src="../icons/dropdown.png" alt="dropdown"></h4>
          <ul>
              <li>Rólunk oldal (rolunk.html) létrehozása, elkészítések.</li>
              <li>Báb oldal navbar és footer igazítások.</li>
          </ul>

          <h4 class="mb-3 clickable-h4">2024.02. 12. <img class="dropdown" src="../icons/dropdown.png" alt="dropdown"></h4>
          <ul>
            <li>A projekt kezdetének dátuma.</li>
            <li>Index.html (főoldal), angular.js, app.js, style.css létrehozása, ikonok feltöltése (az oldalunk alapjai)</li>
            <li>"Kész" báboldal (nem reszponzív).</li>
          </ul>

      </div>
  </div>
</div>