<div class="container-fluid">
    <h1>Főoldal</h1>
<div class="content lh-lg">
    
    <h2 class="mb-3">Üdvözlünk oldalunkon!</h2>
    <hr>
    <p class="mt-3 mb-3">Csapatunk egy kategóriákra bontott fórumot hozott létre. Ennek segítségével az emberek szöveges bejegyzéseket oszthatnak meg a mindennapi életükről, élményeikről, emlékeikről és reagálhatnak, hozzászólhatnak más emberek bejegyzéseire. Célunk az, hogy egy felhasználóbarát felületet építsünk, ahol összetartó közösségek alakulhatnak.</p>
    <h4 class="mb-3">Általános információk:</h4>
    <ul>
        <li class="mb-3">Oldalunkon lehetőség van arra, hogy a már meglévő bejegyzéseket megtekíntsék, viszont csak a teljes jogú felhasználók tudnak bejegyzéseket közzétenni és azokra reagálni. Szóval ha még nincs regisztrált fiókod, a <i>Regisztráció</i> fül segítségével teljes jogú tagja lehetsz fórumunknak.</li>
        <li class="mb-3">Ha teljes jogú tagja lettél a fórumnak, azzal elfogadtad a szabályzatunkat melyet a <i>Szabályzat</i> fül alatt tekinthetsz meg.</li>
        <li class="mb-3">A posztokat és kommenteket moderátorok figyelik, a szabályzatnak nem megfelelőek törlésre kerülnek. Az általad ilyennek vélt posztokat és kommenteket te is jelentheted nekünk. </li>
    </ul>
            
    <p>Reméljük tetszik az oldalunk. Posztolj bátran!</p>
</div>
</div>