<h1>Főoldal</h1>
<div class="content">
    
    <h2>Üdvözöllek az oldalunkon!</h2>
    <hr>
    <p>Csapatunk egy kategóriákra bontott fórumot hozott létre. Oldalunk segítségével az emberek szöveges bejegyzéseket oszthatnak meg a mindennapi életükről, élményeikről, emlékeikről és reagálhatnak, hozzászólhatnak más emberek bejegyzéseire. Célunk az, hogy egy felhasználóbarát felületet építsünk és segítségével embereket hozzuk össze.</p>
    <h4>Általános információk:</h4>
    <ul>
        <li>Oldalunkon lehetőség arra van, hogy a már meglévő bejegyzéseket megtekíntsék viszon csak a teljes jogú felhasználók tudnak bejegyzéseket írni, bejegyzésekre reagálni. Szóval ha még nincs regisztrált fiókod, a <i>Regisztráció</i> fül segítségével teljes jogú tagja lehetsz fórumunknak.</li>
        <li>Oldalunk szigorú szabályok szerint műkődik, melyek segítenek az oldal rendbentartásában (további információkért tekintd meg a <i>Szabályzat</i> fült).</li>
        <li>Oldalunkon <i>Moderátorok</i> felügyelnek arra, hogy az illetlen tartalmak, sértő hozzászólások gazdái és a szabályt szegő emberek jogos bűntestéseket, tiltásokat kapjanak.</li>
    </ul>
            
    <p>Reméljük oldalunk a tetszésedre szolgál. Ossz meg minél több bejegyzést és mulass jól.</p>
</div>