        <div class="profiloldal" id="rolunkkartyak">
        <div class="profil">
                <img id="profilkep" src="icons/profile-user.png">
                <h4>Felhasználó</h4>
                <p id="tulaj"><strong>Tulajdonos</strong></p>
                <p class="datum"><strong>2024.01.05</strong></p>
                <div id="warnings">
                    <img class="warning" src="icons/warning.png">
                    <img class="warning" src="icons/blue-warning.png">
                    <img class="warning" src="icons/blue-warning.png">
                </div>
                <br>
                <button type="button" class="btn btn-danger">Kijelentkezés</button>
            </div>

            <div class="adatlap">
                <h4>Adatlap <img id="user_avatar" src="icons/user-avatar.png"></h4>
                <hr>
                <p>Itt megjeleníthetesz olyan információkat magadról, amiket szivesen megosztasz másokkal és nem zavar, ha mások látják, olvassák. Kérjük, hogy olyan információkat, megjegyzéseket ne írj, amelyek az oldal szabályzatával ellenkeznek.</p>
                <p>Ide kerül például:</p>
                <ul>
                    <li>Érdeklődési köreid</li>
                    <li>Hobbiaid</li>
                    <li>Mit szeretsz csinálni szabadidődben</li>
                    <li>Kedvenc ételeid / kedvenc állataid</li>
                    <li>Dolgok (ételek stb.) amit nem szeretsz (ne legyen semmi és senki ellen utálat viszont!)</li>
                    <li>Kapcsolati státuszod</li>
                </ul>
                <p>Természetesen ez mind opcionális, ezek közül egyik sem kötelező!</p>
            </div>
    </div>