<h1>Rólunk oldal</h1>

<div id="rolunkkartyak" class="container-fluid lh-lg">
    <div class="rolunkcard">
        <img class="rolunkkepek" src="icons/zoli.png" alt="">
        <div class="adatok">
            <h2>Auer Zoltán</h2>
            <hr>
            <p>Sziasztok! Az én munkásságomhoz tartozott ez az oldal is, amit épp nézegettek. A legtöbb munkálatom a projektben Frontenden történt, leginkább statikus oldalak készítésében merült ki. A legutóbbi frissítések oldalon én oldottam meg, hogy az dinamikusan működhessen, így sokkal felhasználóbarátabban néz ki. A kommentek oldalon az oldal layoutja és a komment statikus designja is az én dolgom volt.</p>
        </div>

    </div>

    <div class="rolunkcard">
        <img class="rolunkkepek" src="icons/csoki.png" alt="">
        <div class="adatok">
            <h2>Csóka András</h2>
            <hr>
            <p>Teljes backend elkészítése és frontendben a kategóriák, posztok és kommentek dinamikus megjelenítése és közzététele volt az én "feladatom". Csapattársaimnak segítettem és motiváltam őket.</p>
        </div>
    </div>

    <div class="rolunkcard">
        <img class="rolunkkepek" src="icons/dudi.png" alt="">
        <div class="adatok">
            <h2>Dudás Levente</h2>
            <hr>
            <p>Az én feladatom a különböző oldalak grafikus tervének az elkészítése majd az oldalak kinézetének tényleges megvalósítása, reszponzívvá alakítása volt. </p>
        </div>
    </div>

    <div class="rolunkcard">
        <img class="rolunkkepek" src="icons/zsolt.png" alt="">
        <div class="adatok">
            <h2>Kecskés Zsolt István</h2>
            <hr>
            <p>Mezei programozó. Főként a Github és Jira kezelésével foglalkozott, meg részben a front/back-end-ben segédkezett.</p>
        </div>
    </div>

</div> 