    <h1>Szabályzat</h1>
        <div id="rolunkkartyak" class="lh-lg">
            <div class="rolunkcard">
                <img src="icons/danger.png" class="rolunkkepek_kis" id="szab_kep">
                <div class="adatok">
                    <h2 class="important">OLVASS EL!</h2>
                    <p>Ez az oldal a szabályzatot tartalmazza. Olvasd el figyelmesen, mert a szabályzat nem tudása nem mentesít fel betartása alól, és súlyosságától függően szabunk ki büntetést!</p>
                </div>
            </div>
            <div class="rolunkcard">
                <ol class="szellős">
                    <li>Ne posztolj / ossz meg / küldj el másoknak privát üzenetben: 
                    <ul>
                        <li>Gyűlölködést, bármiféle utálatot bárki / bármi felé </li>
                        <li>Felnőtt tartalmakat.</li>
                        <li>Grafikus tartalmakat.</li>
                        <li>Spam (vagy üres, értelmetlen) üzeneteket.</li>
                        <li>Vírusos linkeket, hirdetéseket, fájlokat, weboldalakat.</li>
                        <li>Személyes/Érzékeny információt másokról.</li>
                        <li>Túlformázott szöveget, legyen csak az kiemelve, ami lényeges.</li>
                        <li>Zsarolást, fenyegetést.</li>
                    </ul>
                    </li>
                    <li>Ne zaklass más felhasználókat privátban, vagy az alfórumuk kommentszekciójában!</li>
                    <li>Bármilyen tartalom, ami az első pontban le van írva jelenthető és ha kérhetjük, jelentsd is! </li>
                    <li>Más felhasználók tömeges jelentése csak akkor elfogadott, ha tényleg olyat tett, amiért jelenthető. Ha ártatlanul lesz jelentve, bántó szándékkal, az elkövetők kapnak kitiltást. </li>
                    <li>Adott kategóriába csak adott dolgokról szóló tartalmakat tölts fel! </li>
                    <li>Helytartó csak az lehet, aki megbízható és értelmes! </li>
                    <li>Ha egy helytartó/moderátor nem jól végzi a dolgát (vagy visszaél a hatalmával) akkor jelentsd!</li>
                    <li>Az oldalon nem toleráljuk az értetlen drámát, amennyiben ilyesmi történik az összes érintett korlátolva lesz ideiglenesen. </li>
                    <li>Bármi, ami az oldalon kívül történik, azért felelősséget nem vállalunk. </li>
                    <li>Az oldal eredetileg magyar nyelvre lett tervezve, ezért ezt a nyelvet preferáljuk (Kivéve, 	ha bizonyos alfórum egy másik nyelven fut).</li>
                    <li>A meglévő profilokkal lehetőleg ne kereskedjünk (nem adjuk el a fiókokat pénzért) valamint nem cserélgetjük. Ha mégis így történik, mindkét félt véglegesen kitiltjuk.</li>
                </ol> 
            </div>
        </div>