body{
    background-color: #434669;
}

.navbar{
    background-color: #2E3150 !important;
    border-bottom: 3px solid #434669;
}

.navbar a{
    color: #fff !important;
    font-weight: 600;
    font-size: 20px;
}

.nav_img{
    width: 64px;
}

.navbar-toggler, .navbar-toggler-icon{
    border-color: #F9B079;
    border: 2px solid #F9B079;
    background-color: #F9B079;
    color: #F9B079;
    
}
/*
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
*/
.png-mid{
    width: 48px;
    height: 48px;
}

.btn{
    color: #fff !important;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    background-color: #676F9E;
}
.footer{
    background-color: #2E3150;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #434669;
}
.footer_btn{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}
.footer_btn:hover{
    background-color: #F9B079;
}
h1{
    text-align: center;
    padding: 30px 20px 20px 20px;
    color: white;
    font-weight: 600;
    margin-top: 90px;
}

.rolunkcard{
    display: flex;
    background-color: #2E3150;
    color: white;
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 70%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: stretch;
}

.rolunkkepek{
    width: 166px;
    height: 166px;
    margin: 30px 10px 30px 30px;
}
.adatok{
    flex-grow: 2;
    padding: 25px 30px 25px 20px;
}
hr{
    height: 5px;
    border-top: 5px solid #434669;
    opacity: 100%;
}

.szellős{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    min-height: 800px;
    margin: 20px;
    gap: 20px;
}
#szab_kep{
    margin-right: 55px;
    align-self: center;
}
.rolunkkepek_kis{
    width: 100px;
    height: 100px;
    margin: 30px;
}
.important{
    color: #fa7b77;
    margin-bottom: 20px;
}
h4{
    text-decoration: underline;
}

.content{
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    text-align: justify;
    margin: 10px auto;
    color: white;
    font-size: 18px;
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: column;
}

hr{
    border-top: 5px #434669 solid;
    opacity: 100%;
}

.jelzes{
    height: 36px;
    width: 36px;
    margin-right: 10px;
}

h3{
    font-size: 20px;
}

.kategoriak{
    background-color: #2E3150;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    text-align: justify;
    margin: 10px 10px 10px 10px;
    color: white;
    font-size: 18px;
    flex-direction: column;
    max-width: 1000px;
    min-width: 345px;
}
#rolunkkartyak:last-child{
    margin-bottom: 90px;
}
.datum{
    color: #676F9E;
    float: right;
}

.cim{
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 10px 10px 10px;
}

.kedvenc{
    height: 33px;
    width: auto;
    margin-top: 10px;
}

.header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.user{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.name{
    margin: 15px 10px 10px 10px;
}

.profil{
    height: 51px;
    width: auto;
}
.datum{
    color: #676F9E;
}

#tulaj{
    color: #676F9E;
    font-size: 15px;
}

.profil{
    background-color: #2E3150;
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    text-align: justify;
    margin: 10px 10px 10px 10px;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.adatlap{
    background-color: #2E3150;
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    text-align: justify;
    margin: 10px 10px 10px 10px;
    color: white;
    font-size: 18px;
}

.warning{
    height: 32px;
    width: 32px;
    float: left;
}

#user_avatar{
    height: 32px;
    width: 32px;
    float: right;
}

#profilkep{
    width: 130px;
    height: 130px;
}

#warnings{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-width: 128px;
}
@media only screen and (max-width: 646px) {
    #rolunkkartyak:last-child{
        margin-bottom: 120px;
    }
    .rolunkcard {
        flex-direction: column; 
        align-items: center; 
        max-width: 100%; 
        margin-left: auto;
        margin-right: auto;
    }

    .rolunkkepek {
        margin-bottom: 20px;
    }

    .adatok {
        padding: 0 30px; 
        text-align: center; 
    }
}