body{
    background-color: #434669;
}

.navbar{
    background-color: #2E3150 !important;
}

.navbar a{
    color: #fff !important;
    font-weight: 600;
    font-size: 20px;
}

.nav_img{
    width: 64px;
}

.png-mid{
    width: 48px;
    height: 48px;
}
.btn{
    color: #fff !important;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    background-color: #676F9E;
}
.footer{
    background-color: #2E3150;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer_btn{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.content{
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    text-align: justify;
    margin: 10px auto;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

hr{
    border-top: 5px #434669  solid;
    opacity: 100%;
}

h1{
    color: white;
    text-align: center;
    padding: 10px 10px 5px 10px;
}

.jelzes{
    height: 36px;
    width: 36px;
    margin-right: 10px;
}

.close{
    height: 24px;
    width: 24px;
    float: right;
}

#postas:last-child{
    margin-bottom: 20px;
}

.datum{
    color: #676F9E;
}

#tulaj{
    color: #676F9E;
    font-size: 15px;
}

.profil{
    background-color: #2E3150;
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    text-align: justify;
    margin: 10px 10px 10px 130px;
    color: white;
    font-size: 18px;
    min-width: 140px;
    max-width: 190px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.adatlap{
    background-color: #2E3150;
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    text-align: justify;
    margin: 10px 100px 10px 10px;
    color: white;
    font-size: 18px;
    max-width: 800px;
    min-width: 500px;
}

.warning{
    height: 32px;
    width: 32px;
    float: left;
}

#user_avatar{
    height: 32px;
    width: 32px;
    float: right;
}

#profilkep{
    width: 130px;
    height: 130px;
}

#warnings{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-width: 128px;
}